<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
</head>
<body style="font-family: Arial; text-align: center; margin-top: 80px;">

    <h1>📄 AI Resume Analyzer</h1>
    <p>Upload your resume and get ATS score instantly</p>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="resume" required>
        <br><br>
        <button type="submit" style="padding:10px 20px; font-size:16px;">
            Analyze Resume
        </button>
    </form>

</body>
</html>